<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <section class="content">
    <div class="container">
      <div class="wrapper">
        <h1>Elektron kutubxona</h1>
        <a href="/newuser">Ro'yxatdan o'tish</a>
        <h2>Kutubxonadagi kitoblar ro'yxati</h2>
        <ul class="book-list">
          <li class="book-list-item">
            <p class="book-name">Kitob</p>
            <p class="book-author">Muallif</p>
          </li>
        </ul>
        
      </div>
    </div>
  </section>
</body>
</html>